* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Mononoki Nerd Font Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  /* background-color: rgba(43, 48, 59, 0.5); */
  /* background-color: #3c3836; */
  background-color: transparent;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  /* color: #ffffff; */
  /* color: #282828; */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
  font-size: 16px;
  font-weight: 600;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
background-color: transparent;
}
window#waybar.solo {
background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#workspaces :not(button) {
  font-size: 20px;
  color: #ebdbb2;
}

#workspaces button {
  margin: 5px 1px 5px;
  padding: 0 5px;
  /* background-color: transparent; */
  /* background-color: #282828; */
  background-color: #64727D;
  /* color: #ffffff; */
  color: #ebdbb2;
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  /* box-shadow: inset 0 -3px #282828; */
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 10;

  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  /* background: rgba(0, 0, 0, 0.2); */
  /* background: #282828; */
  background-color: #64727D;
  /* box-shadow: inset 0 -3px #ffffff; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#workspaces button.focused {
  /* background-color: #64727D; */
  background: #282828;
  /* box-shadow: inset 0 -3px #ffffff; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#keyboard-state,
#mpd {
  padding: 0 10px;
  /* color: #ffffff; */
  color: #ebdbb2;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 5px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* :window { */
/* } */

#clock {
  /* background-color: #64727D; */
  background-color: #282828;
  color: #ebdbb2;
}

#battery {
  /* background-color: #ffffff; */
  /* color: #000000; */
  background-color: #282828;
  color: #ebdbb2;
}

#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  /* background-color: #2ecc71; */
  /* color: #000000; */
  background-color: #282828;
  color: #ebdbb2;
}

#memory {
  /* background-color: #9b59b6; */
  background-color: #282828;
  color: #ebdbb2;
}

#disk {
  /* background-color: #964B00; */
  background-color: #282828;
  color: #ebdbb2;
}

#backlight {
  /* background-color: #90b1b1; */
  background-color: #282828;
  color: #ebdbb2;
}

#network {
  /* background-color: #2980b9; */
  background-color: #282828;
  color: #ebdbb2;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  /* background-color: #f1c40f; */
  /* background-color: #f1c40f; */
  /* color: #000000; */
  background-color: #282828;
  color: #ebdbb2;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  /* background: #00b093; */
  /* color: #740864; */
  background-color: #282828;
  color: #ebdbb2;
  padding: 0 5px;
  margin-right: 0px;
  /* margin: 0 5px; */
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin-right: 5px;
  /* margin: 0 5px; */
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
